A{text-decoration:none}

A:link {

        color: #0011ff;
        font-family: arial, helvetica, sans-serif;
        font-size: 14px;
}

A:visited {color: #0011ff; 
        font-family: arial, helvetica, sans-serif;
	font-size: 14px; 
}
A:hover   {color: #0011ff; 
        font-family: arial, helvetica, sans-serif;
	font-size: 14px; 
	text-decoration: underline
}

H1 {
        font-family: arial, helvetica, sans-serif;
        color: #071BBD;
        font-size: 30;
}
H2 {
        text-decoration: underline
        color: #8F0BFF;
        font-size: 20;
        font-family: arial, helvetica, sans-serif;
}
H3 {
        font-size: 10;
        font-family: arial, helvetica, sans-serif;
        color: #6000B3;
}

